.footer{text-align: center;}
.navigationBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
}
.navigationItem > a{
    float: left;
    padding: 2px 16px;
    border-bottom: 2px solid #EAEAEA;
    color: #4CAF50;
    text-decoration: none;
}

.activeItem > a{
    float: left;
    padding: 2px 16px;
    border-bottom: 2px solid #4CAF50;
    color: #7A7A7A;
    text-decoration: none;
}

h1{
    color: #7A7A7A;
    font-size: 1.5em;
    margin-left: 12px;

}

.searchResult{
    display: block;
    padding-bottom: 18px;
}

.resultHeading{
    display: block;
    border-bottom: 1px solid #4CAF50;
    padding-bottom: 0px;
}

.resultTitle{
    color: #7A7A7A;
}

.address{
    color: #7A7A7A;
    margin-top: 0px;
}
.hours{
    color: #4CAF50;
    margin-top: 12px;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 5;
  }
  @include media-breakpoint-only(xl) {
    column-count: 6;
  }
}
