<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head(pageTitle='Categories')"></head>

<body>
<div th:replace="fragments/navigation(selectedPage='Categories')"></div>
<h1>Products Category Associations</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Products</th>
    </tr>
    <tr th:each="category:${categories}">
        <td th:text="${category.id}">1</td>
        <td th:text="${category.name}">Apple</td>
        <td th:text="${category.getProducts()}">List of farms</td>
    </tr>
</table>
</body>
</html>