<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head(pageTitle='Farmers')"></head>
<body>
<div th:replace="fragments/navigation(selectedPage='Farmers')"></div>
<h1>Participating Farmers</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Farms</th>
    </tr>
    <tr th:each="farmer:${farmers}">
        <td th:text="${farmer.id}">1</td>
        <td th:text="${farmer.firstName +' '+ farmer.lastName}">Hristo Aladjov</td>
        <td th:text="${farmer.getFarms()}">farmers</td>
    </tr>
</table>
</body>
</html>