<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head(pageTitle='Farmers')"></head>
<body>
<div th:replace="fragments/navigation(selectedPage='Farmers')"></div>
<h1 th:text="#{captions.participatingFarmers}">Participating Farmers</h1>

<table class="table">
    <tr>
        <th th:text="#{captions.ID}">Id</th>
        <th th:text="#{captions.name}">Name</th>
        <th th:text="#{captions.farms}">Farms</th>
    </tr>
    <tr th:each="farmer:${farmers}">
        <td th:text="${farmer.id}">1</td>
        <td><a th:href="@{'/v1/farmers/'+${farmer.id}}" th:text="${farmer.firstName +' '+ farmer.lastName}">Hristo Aladjov</a></td>
        <td><span th:each="farm, iterStat:${farmer.getFarms()}">
            <a th:href="@{'/v1/farms/'+${farm.id}}" th:text="!${iterStat.last} ? ${farm.name} +',': ${farm.name} ">Farmer</a>
        </span></td>
    </tr>
</table>
</body>
</html>