<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head(pageTitle='Farms')"></head>
<body>
<div th:replace="fragments/navigation(selectedPage='Farms')"></div>
<h1>Participating Farms</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Site</th>
        <th>Farmers</th>
        <th>Products</th>
    </tr>
    <tr th:each="farm:${farmers}">
        <td th:text="${farm.id}">1</td>
        <td th:text="${farm.name}">Bunkera</td>
        <td th:text="${farm.site}">Site description</td>
        <td th:text="${farm.getFarmers()}">Bunkera</td>
        <td th:text="${farm.getProducts()}">Site description</td>
    </tr>
</table>
</body>
</html>